<h2>Mes 3 prochaines sessions</h2>
<button data-label="creer">Créer une partie</button>

<table [ngClass]="{'handsetTable': format()==='Handset'}">
  <thead>
  <tr>
    <th>Date</th>
    <th>Heure</th>
    <th>Nom du jeu</th>
    <th>Participants</th>
  </tr>
  </thead>
  <tbody>
    @for (session of sessions; track session.id) {
      <tr>
        <td data-label="date">{{ session.date | date:'ccc dd/MM/yy':'':'fr-FR' }}</td>
        <td data-label="heure">{{ session.date | date:'shortTime':'':'fr-FR' }}</td>
        <td data-label="nom du jeu">{{ session.game.name }}</td>
        <td data-label="participants">
          @for (participant of session.participants; track participant.uuid) {
            <span class="participant">
              <avatar [source]="participant"/>
              {{ participant.nickname || participant.username }}
            </span>
          } @empty {
            <span>Aucun participant</span>
          }
        </td>

      </tr>
    }
  </tbody>
</table>

<h2>Mes guildes</h2>
<table [ngClass]="{'handsetTable': format()==='Handset'}">
  <thead>
  <tr>
    <th>Icon</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
    @for (guild of user().guilds; track guild) {
      <tr>
        <td data-label="icône de la guilde"><avatar [source]="guild"/></td>
        <td data-label="nom de la guilde">{{ guild.name }}</td>
      </tr>
    }
  </tbody>
</table>
