:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: clamp(80ch,80dvw,100ch);
}

button[data-label="creer"] {
  align-self: center;
  width: max(20ch,50%);
}

td[data-label="participants"] {
  display: flex;
  flex-direction: column;
}

.participant {
  display: flex;
  gap: 1rem;
}

td[data-label="nom de la guilde"] {
  width: 90%;
  vertical-align: middle;
}
