<section class="logo">
  <a class="title" [routerLink]="['dashboard']">
    <img ngSrc="assets/images/monsters_cartoon.png" alt="image du logo" width="100" height="100">
    <span>Plan Your Games</span>
  </a>
</section>
<section class="actions">
  @if (authService.isAuthenticated()) {
    <nav>
      <a [routerLink]="['dashboard']" routerLinkActive="active-link">Tableau de bord</a>
      <a [routerLink]="['sessions']" routerLinkActive="active-link">Mes sessions</a>
      <a [routerLink]="['guilds']" routerLinkActive="active-link">Mes guildes</a>
    </nav>
  }
  <div>
    @if (authService.isAuthenticated()) {
      <a>{{connectedUser().username}}</a>
      <button class="flat-btn " (click)="authService.logout()">
        <fa-icon [icon]="faLogout"/>
      </button>
    } @else {
      <a class="flat-btn" href="{{ENDPOINT_AUTH_DISCORD}}">
        <fa-icon [icon]="faLogin"/>
      </a>
    }
  </div>
</section>
