.btn {
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.flat-btn {
  @extend .btn;
  border: none;
  background-color: inherit;
}

.round {
  padding: 10px;
  border-radius: 50%;
}

.round-btn {
  @extend .btn;
  @extend .round;
}

.round-flat-btn {
  @extend .flat-btn;
  @extend .round;
}

.btn, .flat-btn {
  &:active {
    transform: scale(0.97);
    background-color: var(--active-color);
    box-shadow:  3px 2px 15px 1px var(--active-color);
  }

}
