.btn {
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font: inherit;
}

.flat-btn {
  @extend .btn;
  border: none;
  background-color: inherit;
}

.round {
  padding: 10px;
  border-radius: 50%;
}

.round-btn {
  @extend .btn;
  @extend .round;
}

.round-flat-btn {
  @extend .flat-btn;
  @extend .round;
}

.btn, .flat-btn {
  &:hover {
    background-color: burlywood; //todo : revoir la couleur
    border-color: burlywood;
  }

  &:active {
    transform: scale(0.97);
    background-color: var(--btn-active-color);
    border-color: var(--btn-active-color);
    box-shadow: 3px 2px 15px 1px var(--btn-active-color);
  }

}
