@use 'reset';
@use 'items';
@import 'material-icons/iconfont/material-icons.css';
html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: 'Rubik', system-ui, sans-serif;
  font-size: 1.7rem; // 17px
}



