/*RESET start*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100dvh;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  //font-weight: 600;
}
/*RESET end*/
