:root {
  //---  COLORS  ---//

  --primary-color: #ff0000;

  // Buttons
  --btn-color: rgba(0, 0, 0, 0.20);
  --btn-active-color: rgba(0, 0, 0, 0.20);

  // Links
  --link-active-color: rgba(15, 102, 224, 1);

  // Table
  --tableWidth: 100%;
  --tableBackgroundColor: white;
  --tableItemBorderRadius: 20px;
  --tableItemMobileWidth: max(40ch, 100%);
}
